/* general */

*{
    margin: 0%;
    border: 0%;
    margin: 0%;

}

:root{
--pink:#E43170;
}
/* utils */

.container {
    margin: 0% auto;
width: 1200px;

}


header{
    color: var(--pink);
}
h1{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    
}


/*page-header */
header{

}
/* page-body */
body{
    margin-top: 70px;
    font-family: 'Fredoka', sans-serif;
}
main{
    text-align: center;
    margin-top: 50px;
}